node_modules
dist
.vercel

# Vercel proje bagi makineye ozgudur.
.vercel
.tsbuild
*.tsbuildinfo

# Next.js
.next
next-env.d.ts

# Playwright
/test-results
/playwright-report
/blob-report

# Yerel ortam dosyaları
.env
.env.local
.env.*.local
